<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>File Org</title>
</head>

<body class="flex-container">
    <header>
        <h1>File Organizer</h1>
    </header>

    <main class="content">
        <section>
            <h2>Create folder/file</h2>

        </section>

        <section>
            <h2>Upload a file</h2>
        </section>

        <section>
            <h2>Files</h2>
            <form id="search-form" method="GET" action="">
                <label for="search-query">Search:</label>
                <input type="text" id="search-files" name="files" placeholder="Search files or folders" required>
                <button type="submit">Search</button>
            </form>
        </section>

    </main>

    <footer class="footer">
        <p>Created by the sheesh department</p>
    </footer>

</body>

</html>