<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>File Org</title>
</head>

<body>
    <header>
        <h1>File Organizer</h1>
    </header>
    <main>
        <section>
            <h2>Upload a file</h2>

        </section>
        <section>
            <h2>Files</h2>
            <form action="">
                <select id="event-type" name="event-type">
                    <option value="">option1</option>
                    <option value="">option2</option>
                </select>
            </form>
        </section>
    </main>
</body>
<footer>
    <p>Created by the sheesh department</p>
</footer>

</html>